body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #e3e6c5;
  color: #4d2323;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  }


  * {
    box-sizing: border-box;
  }

  :link {
    text-decoration: none;
    color: brown;
  }

  .header {
    background-color: #4d2323;
    font-size: 16px;
    display: flex;
    justify-content: space-evenly;
  }

  .color {
    color: brown;
  }

  .main {
    padding: auto;  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 1.2;
  }

  .footer {
    background-color: #4d2323;
    padding: 20px;
    text-align: center;
  }

  .container {
    max-width: 1440px;
    margin: 0 auto;
    min-height: 50px;
  }

  .nav {
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: none;
  }

  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }

  html {
    scroll-behavior: smooth; 
  }

  .nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
    text-decoration: none;
    color: rgba(247, 244, 242, 0.945);
  }
  
  .border-bold {
    border: 5px solid #4d2323;
    background-color: #4d2323;
  }

  .section {
    width: 50%;
    padding: 15px;
    border-bottom: 1px solid #4d2323;
  }

  .main-container {
    display: flex;
    flex-wrap: wrap;
  }

  .avatar {
    margin: 0;
    text-align: center;
    width: 210px;
    height: 210px;
    border-radius: 60%;
  }

  .name {
    margin-left: 100px; 
    font-weight: bold; 
    text-align: center; 
  }
  
  .section-title {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: brown;
  }

  .container1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.6;
  }


  .footer-content {
    display: flex; 
    display: inline;
    justify-content: space-between;
    color: rgba(247, 244, 242, 0.945);  
    text-decoration: none;
    align-items: center;
    width: 121px;
    height: 45px;
    flex-wrap: wrap;
  }

  .github-nav-link {
    color:#4d2323;
    text-decoration: none;
  
}

  @media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }
